@media screen and (max-width: 768px) {
  .header-nav__links {
    display: none;
  }
  .header-nav__menu {
    display: block;
  }
  .header-content {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .service-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media screen and (max-width: 576px) {
  .service-main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
