@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4b4b4d;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header {
  height: 800px;
  background: url("../images/intro.jpg") center/cover fixed no-repeat;
  color: #fff;
  padding-top: 5px;
}

.header-nav__logo {
  margin-bottom: 15px;
}

.header-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link {
  font-weight: 500;
}

.header-nav__menu {
  height: 30px;
  width: 30px;
  position: relative;
  display: none;
  cursor: pointer;
}

.header-nav__menu::before {
  content: "";
  display: block;
  position: absolute;
}

.header-nav__menu::after {
  content: "";
  display: block;
  position: absolute;
}

.header-nav__menu span, .header-nav__menu::before, .header-nav__menu::after {
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: white;
}

.header-nav__menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-nav__menu::before {
  top: 0;
  border-radius: 5px 5px 0 0;
}

.header-nav__menu::after {
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

.header-content {
  margin-top: calc(130px + (100vw / 1170));
}

.header-content h1 {
  font-size: 45px;
  font-weight: 500;
}

.header-content p {
  margin: 30px 0 40px 0;
  padding-right: 3vw;
}

.header-content button {
  background-color: #16c2a3;
  padding: 15px 35px;
  border-radius: 28px;
  font-size: 15px;
}

.about {
  padding: 120px 0;
}

.about__pic {
  padding-bottom: 20px;
  min-width: 250px;
}

.about__content h2 {
  font-size: 35px;
  font-weight: 700;
}

.about__content p {
  margin: 20px 0 40px 0;
}

.about__content button {
  background-color: #4b4b4d;
  padding: 15px 35px;
  border-radius: 28px;
  font-size: 15px;
  color: #fff;
}

.service {
  padding: 3vw 0;
  text-align: center;
}

.service-intro {
  width: 65%;
}

.service-intro p {
  margin: 10px 0 80px 0;
}

.service-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
          flex: 0 0 31.5%;
  margin-bottom: 50px;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #04c2a8 0%, #fec667 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#04c2a8), to(#fec667));
     border-image: linear-gradient(to right, #04c2a8 0%, #fec667 100%);
  border-image-slice: 1;
  position: relative;
  padding: 45px 20px 0 20px;
}

.service-main__item h4 {
  margin: 25px 0;
  font-size: 18px;
  font-weight: 500;
}

.service-main__item p {
  margin-bottom: 50px;
}

.service-main__item_active {
  background: url("../images/service4.jpg") center/cover no-repeat;
  color: #fff;
  padding: 65px 18px 90px;
  border: none;
}

.service-main__item_active h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 12px;
}

.service-main__item_active p {
  margin-bottom: 24px;
}

.service-main__item_active .input-wrapper {
  position: relative;
}

.service-main__item_active input {
  padding: 18px 0 18px 24px;
  border-radius: 30px;
  background-color: #fafafa;
  width: 100%;
  color: #4b4b4d;
}

.service-main__item_active a {
  position: absolute;
  color: #4b4b4d;
  font-weight: 700;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}

.service-main__item button {
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  background-color: #4b4b4d;
  padding: 15px 35px;
  border-radius: 28px;
  font-size: 15px;
  color: #fff;
}

.integration {
  background-color: #fcfcfe;
  padding: 80px 0;
}

.integration-main h4 {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: normal;
}

.integration-main h2 {
  font-size: 30px;
  font-weight: 700;
}

.integration-main p {
  margin: 25px 0 30px 0;
}

.integration-main button {
  background-color: #16c2a3;
  padding: 10px 30px;
  border-radius: 28px;
  font-size: 12px;
  color: #fff;
  margin: 0 1vw 10px 0;
}

.integration-main button:last-child {
  background-color: #4b4b4d;
}

.integration-stat {
  margin-top: 30px;
}

.integration-stat__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.integration-stat p {
  position: relative;
  font-weight: normal;
  padding: 20px 0 8px 5px;
}

.integration-stat p::before {
  content: "";
  width: 2px;
  height: 90%;
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(-15 * (100vw/1170));
  background-color: #16c2a3;
}

.integration-stat__num h2 {
  font-size: 45px;
  color: #16c2a3;
  font-weight: 700;
}

.integration-stat__num h4 {
  font-size: 14px;
}

.contact {
  padding: 60px 0 85px 0;
}

.contact__content p {
  margin: 24px 0 35px;
}

.contact__content button {
  background-color: #4b4b4d;
  padding: 15px 35px;
  border-radius: 28px;
  font-size: 15px;
  color: #fff;
  margin: 0 1vw 10px 0;
}

.blog {
  background-color: #fafafa;
  padding: 90px 0;
}

.blog-intro {
  color: #282828;
}

.blog-intro h2 {
  font-size: 35px;
  font-weight: 500;
}

.blog-intro p {
  margin: 30px 20px 90px 20px;
}

.blog-content__main .blog-content__date {
  width: 70px;
  height: 60px;
  font-size: 18px;
}

.blog-content__main .blog-content__text {
  padding: 20px;
  padding-bottom: 55px;
}

.blog-content__main .blog-content__text h4 {
  color: #16c2a3;
}

.blog-content__item {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.15);
}

.blog-content__date {
  width: 45px;
  height: 41px;
  background-color: #16c2a3;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.blog-content__text {
  padding: 20px 6% 20px 5%;
}

.blog-content__text h4 {
  font-size: 22px;
  font-size: calc(12px + 5 * (100vw/1170));
  font-weight: 500;
  line-height: calc(12px + 10 * (100vw/1170));
  margin-bottom: 30px;
}

.blog-content__text p {
  color: #484949;
  font-size: calc(10px + 4 * (100vw/1170));
  font-weight: 700;
  margin: 0;
}

.footer-main {
  padding: 90px 0;
}

.footer-item h4 {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-item__link {
  display: block;
  font-size: 17px;
}

.footer-item:first-child img {
  margin-bottom: 25px;
}

.footer-item:first-child p {
  font-size: 14px;
  line-height: 24px;
  padding-right: 2vw;
}

.footer-item:nth-child(3) p {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 500;
  line-height: 27px;
}

.footer-item:nth-child(3) a {
  color: #16c2a3;
}

.footer-item:last-child img {
  margin-top: 10px;
}

.footer-bottom {
  height: 80px;
  background-color: #b4ebe2;
}

.footer-bottom p {
  margin-bottom: 0;
}
